.lexend-font {
  font-family: 'Lexend Deca';
}

.ubuntu-font {
  font-family: 'Ubuntu';
}

.vh-80 {
  height: 80vh;
}

.vh-50 {
  height: 50vh;
}

.h-90 {
  height: 90%;
}

.top-left-rounded {
  border-top-left-radius: 10px;
}

.top-right-rounded {
  border-top-right-radius: 10px !important;
}

.top-rouded {
  border-radius: 10px 10px 0 0;
}

* {
  font-family: 'Lexend Deca', sans-serif;
}

/*Evitar que imagens fiquem grandes de mais*/
@media (min-width: 601px) {
  img {
    max-width: 500px;
  }
}

@media (max-width: 600px) {
  img {
    max-width: 250px;
  }
}